{% extends "layout.html" %}

{% block title %}
  Create Channel
{% endblock %}

{% block body %}
  <script>
    if (!localStorage.getItem('user'))
      window.location = "/";
  </script>
  <h1>Create Channel</h1>
  <form action="/create" method="post">
    <div class="form-group">
      <input class="form-control" type="text" autofocus name="channel_name" autocomplete="off" placeholder="Enter your channel name">
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Submit</button>
      <a href="/channels" class="btn btn-primary">View the channels</a>
    </div>
  </form>
{% endblock %}
