{% extends "layout.html" %}
{% block title %}
  Home
{% endblock %}

{% block body %}
  <h1>Query</h1>
  <form action="\" method="POST">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="isbn">
      <label class="form-check-label" for="Radios1">
        ISBN
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="author">
      <label class="form-check-label" for="Radios2">
        Author's Name
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="title">
      <label class="form-check-label" for="Radios3">
      Book's Title
      </label>
    </div>
    <p></p>
    <div class="form-group">
      <input class="form-control" type="text" name="Query" placeholder="Enter Query">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="\logout" class="btn btn-primary">Logout</a>
  </form>
{% endblock %}
